// Project colors ==========
$green: #15573F;
$green_light: #75BC97;
$salmon: #FD9872;

$gray: #A8A8A8;
$gray2: #A9A9A9;
$gray_medium: #797979;

// Default colors ==========
$white: #ffffff;
$black: #000000;

// Fonts ===================
$font_montserrat: 'Montserrat', 'Arial', sans-serif;

// Images path =============
$img_path: '../images/';